name: Build and upload to PyPI

on:
  release:
    types: [published]

env:
  CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-* cp314-*"
  CIBW_SKIP: "pp* *-win32 *-manylinux_i686 *musllinux*"

jobs:
  build_wheels:
    if: ${{ !github.event.release.prerelease }}
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1

      - uses: actions/upload-artifact@v6
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    if: ${{ !github.event.release.prerelease }}
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v6
        with:
          name: sdist
          path: dist/*.tar.gz

  upload_pypi:
    if: ${{ !github.event.release.prerelease }}
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}